@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}
body {
	min-height: 100%;
	background-color: #ff9d00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.wrapper {
	padding: 20px;
}
.infos {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}
.departments-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
.department-card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 340px;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #eee;
	background: rgb(89, 141, 138);
	text-align: center;
	background: rgba(255, 255, 255, 0.534);
	backdrop-filter: blur( 3.5px );
	-webkit-backdrop-filter: blur( 10.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	cursor: pointer;
	transition: .5s;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	&:hover {
		transform: scale(1.1);
	}
	h1 {
		color: rgb(51, 51, 51);
		margin-bottom: 15px;
        font-size: 28px;
	}
    .number {
        background: rgb(255, 0, 76);
        font-size: 30px;
        color: #fff;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        padding: 20px 0;
        margin-bottom: 15px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
	.department-region {
		font-size: 20px;
		font-weight: 600;
		color: #89092e;
	}
}
.department-card.dom {
	background: rgba(117, 89, 141, 0.534);
	.department-region {
		color: #000;
	}
	h1 {
		color: #fff;
	}
}
